.tab-content {
    color: #555;
    cursor: default;
    background-color: #fff;
    border: 1px solid #ddd;
    border-top-color: transparent;
    border-radius: 0 0 4px 4px;
    padding: 5px;
}

tr.ui-sortable-handle td:nth-child(1):hover{
    cursor: move;
}

.tree-level:before {
    content: '';
    display: inline-block;
    padding-left: 0; }

.tree-level.level-1:before {
    content: '└';
    padding-left: 0px;
    padding-right: 10px; }

.tree-level.level-2:before {
    content: '└';
    padding-left: 15px;
    padding-right: 10px; }

.tree-level.level-3:before {
    content: '└';
    padding-left: 30px;
    padding-right: 10px; }

.tree-level.level-4:before {
    content: '└';
    padding-left: 45px;
    padding-right: 10px; }

.tree-level.level-5:before {
    content: '└';
    padding-left: 60px;
    padding-right: 10px; }

.tree-level.level-6:before {
    content: '└';
    padding-left: 75px;
    padding-right: 10px; }

.tree-level.level-7:before {
    content: '└';
    padding-left: 90px;
    padding-right: 10px; }

.tree-level.level-8:before {
    content: '└';
    padding-left: 105px;
    padding-right: 10px; }

.tree-level.level-9:before {
    content: '└';
    padding-left: 120px;
    padding-right: 10px; }