/*
Make the Facebook Like box responsive (fluid width)
https://developers.facebook.com/docs/reference/plugins/like-box/
*/

/*
This element holds injected scripts inside iframes that in
some cases may stretch layouts. So, we're just hiding it.
*/

#fb-root {
    display: none;
}

/* To fill the container and nothing else */

.fb_iframe_widget, .fb_iframe_widget span, .fb_iframe_widget span iframe[style] {
    width: 100% !important;
}

/*==========  LIKE BUTTON - Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
    #social-buttons .fb_iframe_widget,
    #social-buttons .fb_iframe_widget span,
    #social-buttons .fb_iframe_widget span iframe[style] {
        width:240px !important;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
    #social-buttons .fb_iframe_widget,
    #social-buttons .fb_iframe_widget span,
    #social-buttons .fb_iframe_widget span iframe[style] {
        width:320px !important;
    }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    #social-buttons .fb_iframe_widget,
    #social-buttons .fb_iframe_widget span,
    #social-buttons .fb_iframe_widget span iframe[style] {
        width:480px !important;
    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    #social-buttons .fb_iframe_widget,
    #social-buttons .fb_iframe_widget span,
    #social-buttons .fb_iframe_widget span iframe[style] {
        width:768px !important;
    }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
    #social-buttons .fb_iframe_widget,
    #social-buttons .fb_iframe_widget span,
    #social-buttons .fb_iframe_widget span iframe[style] {
        width:992px !important;
    }
}