/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2014.02.01., 17:30:24
    Author     : borsosalbert
*/

.syntaxhighlighter .toolbar,
#comments a{
    display:none;
}
.photo-item{
    text-align:center !important;
}
.photo-item img{
    border:2px solid #fff;
    border-radius: 10px !important;
    margin:2px auto !important;
    max-height:178px;
}
.photo-item img:hover{
    border: 2px solid #ff6600;
}
@media screen and (max-width : 767px){
    .photo-item{
        text-align:center;
    }
    
}

a:focus{
    outline: 0 !important;
}
