.grid-view th,
.grid-view td {
    white-space: normal !important;
}

.bootbox button {
    outline: none !important;
}

@media print {
    a[href]:after {
        content: none !important;
    }
}

@media screen and (max-width: 640px) {
    table {
        overflow-x: auto;
        display: block;
    }
}